<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Argos beta</title>

   {{#each stylesheets}}
      <link rel="stylesheet" href="{{this}}">
   {{/each}}

   {{#each scripts}}
      <script type="text/javascript" src="{{this}}"></script>
   {{/each}}
   
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-50622004-1', 'vichub.co.uk');
        ga('send', 'pageview');
    </script>
</head>

<body>

    <div id="trim"></div>

    <header id="hero">

        <div id="logo">
            <img src="/img/logo-a.png" alt="Argos Beta">
        </div>

        <section id="search">
            <div id="searchInner">
                <img class="logo" src="/img/logo-a.png" alt="Argos Beta">
                
                <input type="text" class="mainSearch" placeholder="televisions under £400" value="{{startTerm}}">
                at
                <input type="text" class="storeSearch" placeholder="any store" value="">
                <img class="searchIcon" width="32" height="32" src="/img/icon-search.png" alt="Search">
                <div id="storesAutocomplete"></div>
            </div>
        </section>
        <div id="searchHelp">Search by product, price and location</div>

    </header>

    <div id="categories"></div>   
    <div id="results"></div>

   <template id="resultTemplate">
       <div class="searchResultBox" data-productId="\{{productId}}">
           <img data-src="\{{imgUrl}}">
           <span class="description">
              <h3>\{{{highlightedProductTitle}}}</h3>
              <span class="buy">
                 <span class="price">
                    \{{formattedPrice}}
                 </span>
                 
                 <button class="reserve inactive">
                     <span class="inactive">Reserve</span>
                     <span class="waiting"><span class="icon"></span></span>
                     <span class="done">Reserved no. <span class="number"></span><span class="icon"></span></span>
                 </button>
              </span>
           </span>

       </div>
   </template>
  
</body>
</html>
