<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Argos beta</title>

   {{#each stylesheets}}
      <link rel="stylesheet" href="{{this}}">
   {{/each}}

   {{#each scripts}}
      <script type="text/javascript" src="{{this}}"></script>
   {{/each}}
</head>

<body>

    <div id="trim"></div>

    <header id="hero">

        <div id="logo">
            <img src="/img/logo-a.png" alt="Argos Beta">
        </div>

        <section id="search">
            <div id="searchInner">
                <img class="logo" src="/img/logo-a.png" alt="Argos Beta">
                
                <input type="text" class="mainSearch" placeholder="televisions under £400" value="{{startTerm}}">
                at
                <input type="text" class="storeSearch" placeholder="any store" value="">
                <img class="searchIcon" width="32" height="32" src="/img/icon-search.png" alt="Search">
                <div id="storesAutocomplete"></div>
            </div>
        </section>
        <div id="searchHelp">Search by product, price and location</div>

    </header>

    <div id="categories"></div>   
    <div id="results"></div>

   <template>
       <div class="searchResultBox" data-productId="\{{productId}}">
           <img data-src="\{{imgUrl}}">
           <span class="description">
              <h3>\{{productTitleHtml}}</h3>
              <span>\{{price}}</span>
           </span>
       </div>
   </template>
  
</body>
</html>
